%h1 Edit Reservation

= form_for(@reservation, url: {action: "update"}) do
  = label_tag(:start_time)
  = time_field(:reservation, :start_time)
  %br
  = label_tag(:end_time)
  = time_field(:reservation, :end_time)
  %br
  = submit_tag("Update Reservation")
