%h1= "Table ##{@table.number} Reservations"

= link_to "New Reservation", new_restaurant_table_reservation_path(@restaurant, @table)
%br
%br

- if @reservations.any?
  %table{border: 1}
    %thead
      %th Start Time
      %th End Time
      %th{colspan: 2}
    %tbody
      - @reservations.each do |reserve|
        %tr
          %td= reserve.start_time.strftime("%a, %l:%M %p")
          %td= reserve.end_time.strftime("%a, %l:%M %p")
          %td= link_to "Correct", action: "edit", id: reserve.id
          %td= button_to "Cancel", { action: "destroy", id: reserve.id }, method: :delete, data: { confirm: "Are you sure?" }
