- model_class = Reservation
%h1= "#{@restaurant.name}'s Table ##{@table.number} (#{@reservations.size})"

- if @reservations.any?
  %table.striped
    %thead.thead-black
      %tr
        %th= model_class.human_attribute_name(:start_time)
        %th= model_class.human_attribute_name(:end_time)
        %th Management
    %tbody
      - @reservations.each do |reservation|
        %tr
          %td= reservation.start_time.strftime("%a, %l:%M %p")
          %td= reservation.end_time.strftime("%a, %l:%M %p")
          %td
            = link_to 'Correct', edit_restaurant_table_reservation_path(@restaurant, @table, reservation), class: 'btn btn-small'
            = link_to 'Cancel', restaurant_table_reservation_path(@restaurant, @table, reservation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small'

= link_to 'Book a Table', new_restaurant_table_reservation_path, class: 'btn'
