!!!
%html
  %head
    %title OnlineBookingProject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .page-container
      - flash.each do |name, msg|
        - msg = msg.join(" & ") if msg.instance_of? Array
        = content_tag :div, msg, class: "flash #{name}"
      = yield
